body,
html,
.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrap {
  background: #cfe9fb;
}
img {
  display: block;
}
.img1 {
  width: 70%;
  position: absolute;
  left: 50%;
  margin-left: -31%;
  top: 30px;
  z-index: 10;
}
.list {
  height: 20px;
  display: flex;
  margin: 0 auto;
  position: absolute;
  top: 82px;
  left: 108px;
  z-index: 10;
}
.list li {
  width: 5px;
  height: 5px;
  border: 1px solid #fff;
  background: #cfe9fb;
  border-radius: 100%;
  margin: 0 5px;
}
.list .on {
  background: #fff;
  boeder: 1px solid #cfe9fb;
}
.img2 {
  width: 300%;
  animation: yidong 10s linear infinite normal;
  position: absolute;
  top: 97px;
  z-index: 10;
}
@keyframes yidong {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0;
  }
}
.img3 {
  width: 300%;
  position: absolute;
  left: -90%;
  top: 37%;
  z-index: 0;
}
.yuan {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 22%;
  top: 39%;
  border: 15px solid rgba(255, 255, 255, 0.2);
  width: 78px;
  height: 78px;
  border-radius: 50%;
}
.yuan .s1 {
  border: 12px solid rgba(255, 255, 255, 0.4);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  background: rgba(225, 225, 225, 0.5);
}
.yuan .s2 {
  display: block;
  margin-top: -31px;
  margin-left: 15px;
  color: #ccc;
}
