<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div>
        username： <input type="text" id="user" placeholder="this is username">
    </div>
    <div>
        passsword： <input type="text" id="password" placeholder="this is password">
    </div>
    <div>
        <button id="btn">提交</button>
    </div>
</div>
<script src="../public/javascripts/jquery.js"></script>
<script>
    $("#btn").on("click",function(){
        $.ajax({
            url:"http://localhost:9888/logins",
            dataType:"jsonp",
            data:{
                username:$("#user").val(),
                password:$("#password").val()
            },
            success:function(data){
                alert(data)
            }
        })
    })
</script>
</body>
</html>