.filr {
  height: 100%;
  background: #EEEEEE;
}
.filr .headerss {
  display: flex;
  width: 100%;
  background: #ED5858;
  line-height: 49px;
  position: fixed;
  top: 0;
  left: 0;
}
.filr .headerss a {
  font-size: 20px;
  flex: 1;
  text-align: center;
  color: #fff;
}
.filr .nain {
  margin-top: 50px;
  height: 100%;
}
.filr .nain .ols {
  min-height: 510px;
}
.filr .nain .ols li {
  height: 44px;
  line-height: 42px;
  background: #fff;
  color: #000;
  font-size: 14px;
  margin-top: 10px;
  display: flex;
}
.filr .nain .ols li img {
  display: block;
  width: 20px;
  height: 20px;
  margin: 10px;
}
.filr .nain .ols .lis {
  margin-top: 0;
  border-top: 1px solid #ccc;
}
