* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body, .main, .user, .banner .index_pics, .banner .index_pics li, .banner .index_pics li img {
  width: 100%;
  height: 100%; }

.header, .mTabul li, .banner, .vTab li, .videoList .lesson_con, .videoList .lesson_con .imgpic, .videoList li, .uList li, .uList li:first-child, .change_ccount li, .address li:nth-child(3), .classInfo {
  position: relative; }

.mTabul li i, .lide_icon, .back, .gouser, .vTab li i, .videoList .lesson_con .imgpic img:nth-child(2), .videoList .play_btn, .videoList li .lesson_state, .videoList li .order, .videoList .lesson_info, .videoList .lesson_info .price, #uback, .uList li:after, .header_img, .change_ccount li:after, .address li:nth-child(3) span, .lesson_back, .lists .lay, .lists .lay span, .classInfo span {
  position: absolute; }

.toTop, .header, .mTabul {
  position: fixed; }

.banner .index_pics, .videoList .lesson_con {
  display: -webkit-flex;
  display: -moz-flex; }

.main, section {
  display: -webkit-flex;
  display: -moz-flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column; }

.mTabul li, section, .video, .vTab li {
  -webkit-flex: 1;
  -moz-flex: 1; }

body {
  background: #f4f4f4; }

/*toTop*/
.toTop {
  height: 1.2rem;
  width: 1.2rem;
  bottom: .3rem;
  right: .3rem;
  background: url(../images/dingbu2x.png) no-repeat;
  background-size: contain; }

/*vid*/
.tableTop {
  padding: .373rem .587rem;
  background-color: #fff;
  margin-top: .03rem;
  position: absolute;
  top: 1.68rem;
  z-index: 999; }

.tableTop dt i {
  font-size: 18px;
  color: #4d4d4d;
  height: .5333rem;
  line-height: .5333rem;
  width: 100%; }

[data-dpr="2"] .tableTop dt i {
  font-size: 36px; }

[data-dpr="3"] .tableTop dt i {
  font-size: 54px; }

.tableTop dt .line {
  height: 100%;
  width: .08rem;
  background-color: #12beb0;
  left: -0.187rem; }

.tableTop dd {
  line-height: .5333rem;
  height: 0.5333rem; }

.tableTop dd i {
  font-size: 12px;
  color: #808080; }

[data-dpr="2"] .tableTop dd i {
  font-size: 24px; }

[data-dpr="3"] .tableTop dd i {
  font-size: 36px; }

.tableTop dt {
  margin-bottom: 0.233rem; }

.tableTop .dd1 i {
  width: auto;
  max-width: 100%; }

.tableTop .dd2 i {
  width: 50%; }

.tableTop .dd2 .CoPrice {
  font-size: 12px;
  color: #ed5e5e; }

[data-dpr="2"] .tableTop .dd2 .CoPrice {
  font-size: 20px; }

[data-dpr="3"] .tableTop .dd2 .CoPrice {
  font-size: 36px; }

.tableTop .dd2 .CoPrice span {
  font-size: 15px;
  margin-left: 5px; }

[data-dpr="2"] .tableTop .dd2 .CoPrice span {
  font-size: 30px; }

[data-dpr="3"] .tableTop .dd2 .CoPrice span {
  font-size: 45px; }

.container {
  @extned %full;
  overflow: hidden; }

.main {
  overflow: hidden; }

.user {
  z-index: 999;
  overflow: hidden; }

.header {
  z-index: 999;
  width: 100%;
  height: .88rem;
  background: white;
  top: 0;
  left: 0;
  border-bottom: 1px solid #b2b2b2; }
  .header h1 {
    width: 100%;
    height: 100%;
    line-height: .88rem;
    text-align: center;
    font-size: .3rem; }

.mTabul {
  z-index: 999;
  width: 100%;
  height: .8rem;
  top: .88rem;
  left: 0;
  background: white;
  border-bottom: 1px solid #e3e3e3; }
  .mTabul li {
    height: 100%;
    font-size: .3rem;
    text-align: center;
    line-height: .8rem;
    width: 33.3%;
    display: inline-block; }
    .mTabul li i {
      height: .28rem;
      width: 1px;
      background: #d4d4d4;
      right: 0;
      top: 50%;
      margin-top: -.15rem; }
  .mTabul li:last-child {
    border-right: none; }
  .mTabul li.underline {
    color: #17c8ce; }

section {
  width: 100%;
  overflow: hidden;
  -webkit-flex: 1; }

.indexTitle {
  text-align: center;
  font-size: .8rem;
  color: #000;
  line-height: 1.5;
  margin-top: 3rem; }

.indexUl {
  width: 80%;
  margin-left: 10%;
  margin-top: 3rem; }
  .indexUl li {
    list-style: none;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    margin-bottom: .2rem;
    background: #fff;
    color: black;
    font-size: .4rem;
    border-radius: .1rem; }

.banner {
  width: 100%;
  height: 2.6rem;
  margin-top: 1.681rem; }
  .banner .index_pics li {
    @xxtend %shrink; }
  .banner .swiper-slide-active img {
    display: inline-block;
    -webkit-animation: changeimg 1s;
    -moz-animation: changeimg 1s; }

.lide_icon {
  right: .3rem;
  bottom: .2rem; }
  .lide_icon span {
    width: .16rem;
    height: .16rem;
    border-radius: .08rem;
    display: inline-block;
    margin: 0 .05rem;
    background: #ccc;
    float: left;
    margin-right: .2rem; }
  .lide_icon .swiper-active-switch {
    background: #17c8ce; }

/*------------------------------header----------------------*/
.back {
  top: 0;
  left: 10px;
  text-decoration: none;
  line-height: 1rem;
  color: #000;
  font-size: .4rem; }

.gouser {
  bottom: .20rem;
  right: .3rem;
  color: #000;
  width: .4rem;
  height: .44rem;
  background: url(../images/wode@2x.png) no-repeat;
  background-size: contain; }

/*---------------------------------video-list---------------------------*/
.video {
  width: 100%;
  overflow: hidden;
  overflow-y: auto; }

.vTab {
  width: 100%;
  height: 1rem;
  background: white;
  margin-bottom: 10px; }
  .vTab li {
    height: 100%;
    line-height: 1rem;
    text-align: center;
    font-size: .3rem;
    color: rgba(0, 0, 0, 0.6);
    width: 49%;
    display: inline-block; }
    .vTab li i {
      width: 1px;
      background-color: #d4d4d4;
      height: .3rem;
      right: 0;
      top: 50%;
      margin-top: -.15rem; }
  .vTab li.underline {
    border-bottom: .06rem #17C8CE solid;
    height: 1rem;
    color: #17C8CE;
    border-radius: 1px; }

.videoList {
  width: 100%; }
  .videoList .descip {
    -webkit-flex: 1; }
    .videoList .descip i {
      font-style: normal;
      padding-left: .2rem; }
    .videoList .descip h3 {
      font-size: .28rem;
      color: rgba(0, 0, 0, 0.7);
      padding-right: .6rem;
      line-height: .38rem;
      width: 3.2rem;
      text-align: left; }
    .videoList .descip p {
      text-align: left;
      color: rgba(0, 0, 0, 0.5);
      padding-bottom: .1rem; }
      .videoList .descip p span {
        padding-right: .2rem; }
    .videoList .descip p:nth-of-type(1) {
      font-size: .22rem;
      padding: .07rem 0 .07rem 0; }
    .videoList .descip p:nth-of-type(2), .videoList .descip p:nth-of-type(3) {
      font-size: .2rem; }
    .videoList .descip p:nth-of-type(3) span {
      margin-right: .28rem; }
  .videoList .lesson_con {
    width: 100%;
    height: 1.8rem; }
    .videoList .lesson_con .imgpic {
      height: 1.8rem;
      width: 1.8rem;
      margin-right: .3rem; }
      .videoList .lesson_con .imgpic img {
        height: 100%;
        width: 100%; }
        .videoList .lesson_con .imgpic img:nth-child(2) {
          height: .4rem;
          width: .4rem;
          top: 50%;
          left: 50%;
          margin-left: -.2rem;
          margin-top: -.2rem; }
  .videoList .play_btn {
    height: .8rem;
    width: .8rem;
    border-radius: .4rem;
    background: rgba(0, 0, 0, 0.5);
    top: .5rem;
    left: .5rem; }
  .videoList li {
    width: 100%;
    height: 3.1rem;
    padding: .3rem 0 0 .3rem;
    background: white;
    text-align: center;
    margin-bottom: 20px;
    -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1); }
    .videoList li .lesson_state {
      left: 0;
      top: .16rem;
      width: .8rem;
      height: .28rem;
      color: white;
      z-index: 3; }
    .videoList li .order {
      right: .3rem;
      top: .3rem;
      font-size: .24rem;
      color: #17c8ce; }
  .videoList .lesson_info {
    height: .7rem;
    width: 100%;
    padding: 0 .3rem 0 .3rem;
    background: #fbfbfb;
    left: 0;
    bottom: 0;
    line-height: .7rem; }
    .videoList .lesson_info span {
      font-size: .24rem;
      display: inline-block;
      color: rgba(0, 0, 0, 0.5);
      float: left; }
      .videoList .lesson_info span.per {
        margin-right: .2rem; }
      .videoList .lesson_info span.mey {
        text-decoration: line-through;
        float: right;
        padding-right: 1.2rem;
        padding-top: .05rem; }
    .videoList .lesson_info .price {
      font-size: .3rem;
      color: rgba(0, 0, 0, 0.6);
      font-weight: bold;
      right: .3rem; }

/*-----------------------user---------------------*/
.my_set {
  background: white;
  padding: 0 20px; }

#uback {
  height: .2rem;
  width: .2rem;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  -webkit-transform: rotate(135deg);
  left: .3rem;
  top: 50%;
  margin-top: -.1rem; }

.user .uList {
  background: white;
  width: 100%;
  padding: 10px 140px 0 140px;
  margin-top: .88rem;
  border-bottom: 1px solid #ccc; }

.uList li {
  border-bottom: 1px solid #ccc;
  height: .5rem;
  line-height: .5rem;
  font-size: .3rem; }

.uList li:after {
  content: "";
  height: 10px;
  width: 10px;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333;
  -webkit-transform: rotate(-45deg);
  right: 15px;
  top: 50%;
  margin-top: -5px; }

.header_img {
  left: .3rem;
  top: 105px;
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5); }
  .header_img img {
    height: 100%;
    width: 100%; }

.login_out {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 22px;
  margin-left: 260px; }

/*-----------------------account---------------------*/
.change_ccount {
  width: 100%;
  border: 1px solid #ccc;
  background: white;
  padding: 10px;
  margin-top: .88rem; }
  .change_ccount li {
    border-bottom: 1px solid #ccc;
    font-size: 22px;
    height: 40px;
    line-height: 40px; }
    .change_ccount li img {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      overflow: hidden; }
  .change_ccount li:after {
    content: "";
    height: 10px;
    width: 10px;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333;
    -webkit-transform: rotate(-45deg);
    right: 15px;
    top: 50%;
    margin-top: -5px; }

.address {
  margin-top: 10px;
  background: white; }
  .address li {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 30px; }
    .address li:nth-child(3) span {
      content: "";
      width: 10px;
      height: 10px;
      border-bottom: 2px solid #ccc;
      border-right: 2px solid #ccc;
      -webkit-transform: rotate(-45deg);
      right: 30px;
      top: 50%;
      margin-top: -5px; }

/*-----------------------mylesson---------------------*/
.lesson_back {
  content: "";
  height: 20px;
  width: 20px;
  display: block;
  border-right: 2px solid rgba(0, 0, 0, 0.9);
  border-bottom: 2px solid rgba(0, 0, 0, 0.9);
  -webkit-transform: rotate(135deg);
  left: .3rem;
  top: 50%;
  margin-top: -10px; }

.lessonTy {
  margin-top: .88rem;
  height: .96rem;
  line-height: .96rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6); }

.lists li {
  height: 2.4rem; }
  .lists li .fsize {
    font-size: .2rem; }

.lists:nth-child(3) li {
  height: 3.1rem; }
.lists .lay {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  left: 0;
  top: 0;
  z-index: 99; }
  .lists .lay span {
    height: 1.48rem;
    width: 1.48rem;
    border-radius: .74rem;
    background: rgba(0, 0, 0, 0.4);
    font-size: .28rem;
    color: #fff;
    right: .3rem;
    top: 50%;
    margin-top: -.74rem;
    -webkit-transform: rotate(-45deg);
    text-align: center;
    padding-top: .37rem; }
.lists .lesson_info .changeColor {
  color: #17C8CE;
  font-size: .3rem; }

/*-------------------lessType------------------*/
.classInfo {
  padding: .4rem .3rem;
  margin-top: .88rem;
  background: #fff;
  border-bottom: 1px solid #ccc; }
  .classInfo b {
    font-weight: normal; }
  .classInfo i {
    font-style: normal; }
  .classInfo h4 {
    font-size: .36rem;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: .3rem; }
  .classInfo span {
    right: .3rem;
    top: .48rem;
    font-size: .22rem;
    color: #f00; }
    .classInfo span b {
      font-size: .24rem; }
  .classInfo div {
    font-size: .24rem;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: .3rem; }
    .classInfo div i {
      padding-left: .2rem;
      color: #17C8CE;
      font-size: .3rem; }
      .classInfo div i i {
        font-size: .28rem; }
  .classInfo p {
    font-size: .28rem;
    color: rgba(0, 0, 0, 0.7); }
    .classInfo p i {
      font-size: .3rem; }

.lessonInfo {
  padding: 0 .3rem 0 .31rem;
  height: .98rem;
  line-height: .98rem;
  font-size: .28rem;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid #ccc;
  background: white; }
  .lessonInfo li {
    display: inline-block;
    width: 50%;
    text-align: center; }
    .lessonInfo li:nth-child(1) {
      margin-right: 0 .6rem; }
    .lessonInfo li.underline {
      border-bottom: .06rem #17C8CE solid;
      width: 1.2rem;
      height: 1rem;
      color: #17C8CE;
      border-radius: 1px;
      font-weight: bold; }

.details li {
  margin-bottom: 0;
  height: 2.1rem;
  border-bottom: 1px solid #ccc; }
  .details li h3 {
    line-height: .43rem; }
  .details li .lesson_con .imgpic {
    height: 1.5rem;
    width: 1.5rem; }
    .details li .lesson_con .imgpic img {
      height: 100%;
      width: 100%; }
.details .play_button {
  font-size: .28rem;
  color: rgba(0, 0, 0, 0.3);
  height: .58rem;
  padding: 0 .2rem;
  border-radius: .1rem;
  line-height: .58rem;
  margin-right: .3rem;
  margin-top: .45rem; }
  .details .play_button.active {
    border-color: #17C8CE;
    border: 1px solid #17C8CE;
    color: #17C8CE; }
  .details .play_button.playing {
    background: #17c9ce;
    color: #fff; }

/*-----------------*/
#ncTypeList {
  position: relative; }
  #ncTypeList .videoList {
    top: 0;
    left: 100%; }
    #ncTypeList .videoList:nth-child(1) {
      left: 0; }

/*# sourceMappingURL=normalize.css.map */
