@import"./header.scss";
@import"./footer.scss";

.banner{
	width:100%;
	border:1px solid transparent;
	position:relative;
	overflow:hidden;
	.bannerside{
		width:100%;
		display:-webkit-box;
		li{
			width:100%;
			img{
				width:100%;
			}
		}
	}
	.ol{
		position:absolute;
		bottom:5%;
		left:30%;
		display:flex;
		li{
			width:13px;
			height:13px;
			border-radius:50%;
			background:rgba(0,0,0,0.2);
			margin:0 10px;
			
		}
		.color{
				background:#007aff;
			}
	}

	.form{
		width:90%;
		display:flex;
		position:absolute;
		height:25px;
		background:rgba(225,225,225,0.3);
		border-radius:10px;
		left:5%;
		top:5%;
		i{
			display:block;
			padding:6px 7px;
			color:#fff;
		}
		input{
			height:100%;
			width:100%;
			border:none;
			background:transparent;
			placeholder{
				color:#fff;
			}
		}
	}
}
.main{
	width:100%;
	height:auto;
	margin-bottom:45px;
	.dl{
	width:100%;
	height:auto;
	padding:10px 0;
	box-sizing:border-box;
	background:#fff;
	display:flex;
	a{
		flex:1;
		text-align:center;
		width:33.3%;
		border-right:1px solid #ccc;
		color:#9b9b9b;
		i{
			img{
				width:40px;
				height:40px;
				margin:15px auto;
				display:block;
			}
			}
		}
}
}
.dl-o{
	height:45px;
	width:100%;
	display:flex;
	padding:10px 0;
	font-size:10px;
	background:#fff;
	dt{
		width:30%;
		height:100%;
		margin-right:10px;
		img{
			width:100px;
			height:35px;
			display:block;
		}
	}
	dd{
		width:70%;
		height:100%;
		border-left:1px solid #ccc;
		padding-left:15px;
	}
}
.images{
	width:100%;
	height:auto;
	display:flex;
	flex-wrap:wrap;
	box-sizing:border-box;
	img{
		width:24%;
		height:95px;
		margin:1px;
	}
	.img{
		width:49%;
	}


}
.hh{
	width:100%;
	height:35px;
	margin:5px 0;
	display:flex;
	line-height:35px;
	justify-content:space-between;
	box-sizing:border-box;
	background:#fff;
	padding:0 10px;
}
.imgs{
	width:100%;
	display:flex;
	.left{
		width:42%;
		margin:1px;
		img{
			width:100%;
		}
	}
	.right{
		width:57%;
		height:100%;
		display:flex;
		flex-direction:column;
		img{
			width:100%;
			margin:1px;
		}
	}
}
