.main {
  wisdth: 100%;
  height: auto;
}
.main .list {
  width: 98%;
  margin: 0 auto;
  height: 40px;
  display: flex;
}
.main .list li {
  flex: 1;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #3DA9FE;
}
.main .list .lists {
  border-bottom: 2px solid #3DA9FE;
}
