.city, .show {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 100;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.5s ease;
  overflow-x: hidden; }
  .city h1, .city h2, .show h1, .show h2 {
    height: 24px;
    width: 100%;
    color: #8A9399;
    background: #EBEBEB;
    text-indent: 12px;
    line-height: 25px;
    border-bottom: 1px solid #E5E5E5;
    clear: both; }
  .city .c-list, .show .c-list {
    height: 70px;
    padding-left: 12px; }
    .city .c-list li, .show .c-list li {
      height: 35px;
      line-height: 35px;
      font-size: 27/2px; }
      .city .c-list li:nth-child(1), .show .c-list li:nth-child(1) {
        color: #333;
        border-bottom: 1px solid #DBDDE3; }
      .city .c-list li:nth-child(2), .show .c-list li:nth-child(2) {
        color: #24AEF2;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between; }
        .city .c-list li:nth-child(2) span, .show .c-list li:nth-child(2) span {
          color: #666;
          margin-right: 10px; }
        .city .c-list li:nth-child(2) .i, .show .c-list li:nth-child(2) .i {
          color: #24AEF2; }
  .city .c-listC, .city .c-listA, .show .c-listC, .show .c-listA {
    width: 100%;
    height: auto; }
    .city .c-listC span, .city .c-listA span, .show .c-listC span, .show .c-listA span {
      width: 33.33%;
      float: left;
      text-align: center;
      height: 30px;
      line-height: 30px;
      color: #333;
      display: block; }
    .city .c-listC .bg, .city .c-listA .bg, .show .c-listC .bg, .show .c-listA .bg {
      background: #eee; }
    .city .c-listC .bgs, .city .c-listA .bgs, .show .c-listC .bgs, .show .c-listA .bgs {
      background: transparent; }
  .city .c-listA span, .show .c-listA span {
    width: 11%; }
  .city .conts, .show .conts {
    width: 100%; }
    .city .conts ul, .show .conts ul {
      width: 100%;
      padding-left: 12px; }
      .city .conts ul li, .show .conts ul li {
        border-bottom: 1px solid #ccc;
        color: #333;
        height: 35px;
        line-height: 35px; }

.show {
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s ease; }
