.slide-selector {
  position: absolute;
  z-index: 150;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7); }
  .slide-selector .header {
    display: -ms-flexbox;
    display: flex; }
    .slide-selector .header .cancel, .slide-selector .header .done {
      border: 1px solid #eee;
      height: 30px;
      line-height: 30px;
      border-radius: 3px;
      margin: 8px;
      font-size: 14px;
      padding: 0 6px; }
    .slide-selector .header .title {
      -ms-flex: auto;
          flex: auto;
      text-align: center; }
  .slide-selector .slide-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: #fff;
    transition: transform 0.3s ease-in-out;
    transform: translate3d(0, 100%, 0); }
  .slide-selector .slide-wrapper-show {
    transform: translate3d(0, 0, 0); }
  .slide-selector .slide-items {
    height: 100%;
    overflow: auto;
    padding-bottom: 45px; }
  .slide-selector .slide-item {
    border-bottom: 1px solid #eee;
    line-height: 44px;
    text-align: center; }
  .slide-selector .slide-selected {
    background: #24AEF2;
    color: #fff; }

.none {
  display: none; }
