<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app">
    <p @click="q">{{name}}</p>
    <h1>Hello, Vue.js!</h1>
    <h1 v-if="yes" @click="add">Yes!</h1>
    <h1 v-if="no">No!</h1>
    <h1 v-if="age >= 25">Age: {{ age }}</h1>
    <h1 v-if="names.indexOf('k') >= 0">Name: {{ anames }}</h1>
   <input type="text" v-on:input="inputs($event.target.value)" v-bind:value="names | uuper">
    <span>{{anames}}</span>
</div>
<script type="text/javascript" src="js/vue.min.js">
</script>
<script>
    let data = {
        name: "qin",
        yes: true,
        no: false,
        age: 28,
        names: 'kejool'
       
    }
    var vm=new Vue({
        el: "#app",
        data: data,
         methods:{
         	add:function(){
         		alert("123")
         	},
         	q:function(){
         		alert("123")
         	},
             inputs:function(val){
                 this.names=val
             }
         },
        filters:{
            uuper:function(val){
                return val.toUpperCase()
            }
        },
        computed:{
            anames:function(){
                names=90
                return names
            }

        }
        
    })


    vm.$watch("name",function(val,nol){
    	console.log(val)
    },{
    	deep: true
    })
</script>
</body>
</html>