.header {
  width: 100%;
  height: 0.44rem;
  background: #1e2e45;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.header a {
  color: #fff;
  flex: 1;
  font-size: 0.14rem;
  text-align: center;
}
.header a:nth-child(2) {
  flex: 7;
}
.header a img {
  width: 0.27rem;
  height: 0.27rem;
  display: block;
  padding: 0 10px;
}
.header .nav {
  width: 65%;
  height: 70%;
  background: rgba(225, 225, 225, 0.3);
  border-radius: 40px;
  overflow: hidden;
  margin: 15% auto;
  display: flex;
  align-items: center;
}
.header .nav span {
  text-align: center;
  flex: 1;
  color: #93A7C1;
  font-size: 0.14rem;
  height: 100%;
  line-height: 30px;
}
.header .nav span:hover {
  background: #01C97E;
  color: #fff;
}
.header .nav .on {
  background: #01C97E;
  color: #fff;
}
.header mark {
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: transparent;
  position: absolute;
  right: 10px;
}
.header mark img {
  width: 100%;
  display: block;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  font-size: 100px;
  background: #fafafa;
}
a {
  font-size: 0.12rem;
}
.iscroll {
  width: 100%;
  position: absolute;
  top: 44px;
  bottom: 50px;
}
.lists {
  width: 100%;
  height: auto;
}
.lists a {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  color: #000;
  border-top: 1px solid #F5F5F5;
  font-size: 0.14rem;
  box-sizing: border-box;
  background: #fff;
  justify-content: space-between;
}
.lists a span {
  display: flex;
}
.lists a span img {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 5px;
}
.lists .on {
  background: transparent;
}
.lists a {
  margin: 1px auto;
  height: 45px;
}
.btn {
  width: 100%;
  height: 45px;
  background: #01CA7E;
  border: none;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}
