.header {
  width: 100%;
  height: 0.44rem;
  background: #1e2e45;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  .header a {
    color: #fff;
    flex: 1;
    font-size: 0.14rem;
    text-align: center; }
    .header a:nth-child(2) {
      flex: 7; }
    .header a img {
      width: 0.27rem;
      height: 0.27rem;
      display: block;
      padding: 0 10px; }
  .header .nav {
    width: 65%;
    height: 70%;
    background: rgba(225, 225, 225, 0.3);
    border-radius: 40px;
    overflow: hidden;
    margin: 15% auto;
    display: flex;
    align-items: center; }
    .header .nav span {
      text-align: center;
      flex: 1;
      color: #93A7C1;
      font-size: 0.14rem;
      height: 100%;
      line-height: 30px; }
      .header .nav span:hover {
        background: #01C97E;
        color: #fff; }
    .header .nav .on {
      background: #01C97E;
      color: #fff; }
  .header mark {
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: transparent;
    position: absolute;
    right: 10px; }
    .header mark img {
      width: 100%;
      display: block; }

.footer {
  width: 100%;
  height: 0.45rem;
  padding: 5px;
  margin-top: 15px;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0; }
  .footer a {
    width: 0.25rem;
    height: 0.50rem;
    flex: 1;
    text-align: center; }
    .footer a i {
      width: 0.22rem;
      height: 0.20rem;
      display: block;
      margin-bottom: 3px;
      margin: 0 auto; }
    .footer a .shouye {
      background: url(../../images/shouye/shouye.png);
      background-size: cover; }
    .footer a .chanpin {
      background: url(../../images/shouye/chanpin.png);
      background-size: cover; }
    .footer a .pipei {
      background: url(../../images/shouye/pipei.png);
      background-size: cover; }
    .footer a .zoom {
      background: url(../../images/shouye/zoom.png);
      background-size: cover; }
    .footer a span {
      width: 100%;
      height: 100%;
      display: block;
      padding: 7px 0;
      text-align: center;
      line-height: 100%;
      font-size: 0.12rem;
      color: #808080; }
  .footer .on span {
    color: #1e2e45; }
  .footer .on .shouye {
    background: url(../../images/shouye/shouye1.png);
    background-size: cover; }
  .footer .on .chanpin {
    background: url(../../images/shouye/chanpin1.png);
    background-size: cover; }
  .footer .on .pipei {
    background: url(../../images/shouye/pipei1.png);
    background-size: cover; }
  .footer .on .zoom {
    background: url(../../images/shouye/zoom1.png);
    background-size: cover; }

html, body, .wrap {
  width: 100%;
  height: 100%;
  font-size: 100px;
  background: #fafafa; }

a {
  font-size: 0.12rem; }

.iscroll {
  width: 100%;
  position: absolute;
  top: 44px;
  bottom: 50px; }

.banner {
  width: 100%;
  position: relative;
  overflow: hidden; }
  .banner .swiper-wrapper {
    width: 100%;
    display: -webkit-box; }
    .banner .swiper-wrapper .swiper-slide {
      width: 100%; }
      .banner .swiper-wrapper .swiper-slide img {
        display: block;
        width: 100%; }
  .banner .swiper-pagination {
    position: absolute;
    bottom: -25%; }

.main {
  width: 100%;
  height: 100%;
  background: #fafafa; }
  .main .main_head {
    width: 100%;
    display: flex;
    line-height: 30px;
    background: #fff;
    box-sizing: border-box; }
    .main .main_head a {
      color: #999;
      font-size: 12px;
      padding: 0 10px;
      text-align: center; }
      .main .main_head a:nth-child(1) {
        color: #166eb3;
        font-size: 15px; }
      .main .main_head a:nth-child(2) {
        flex: 3; }
  .main .main_o {
    width: 100%;
    height: auto;
    display: flex;
    background: #fff; }
    .main .main_o a {
      width: 30%;
      height: 100%;
      flex: 1;
      text-align: center; }
      .main .main_o a img {
        width: 45%;
        display: block;
        margin: 5px auto; }
      .main .main_o a span {
        display: block;
        padding: 5px 0;
        color: #4c4c4c;
        font-size: 12px; }
  .main .main_t {
    width: 100%;
    height: auto;
    background: #fff;
    margin: 5px auto; }
    .main .main_t .swiper-container {
      width: 100%;
      margin-top: 10px;
      padding-bottom: 10px;
      display: -webkit-flex;
      overflow: hidden; }
      .main .main_t .swiper-container .swiper-wrapper {
        width: 100%; }
        .main .main_t .swiper-container .swiper-wrapper .swiper-slide {
          width: 30%; }
          .main .main_t .swiper-container .swiper-wrapper .swiper-slide img {
            width: 100%;
            display: block; }
  .main .main_f {
    width: 100%;
    font-size: 0.12rem;
    margin-top: 5px; }
  .main .main_ff {
    width: 100%;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    background: #fff;
    margin-top: 1px; }
    .main .main_ff dl {
      width: 100%;
      height: 65px;
      display: flex; }
      .main .main_ff dl dt {
        width: 65px;
        height: 65px;
        margin-right: 15px; }
        .main .main_ff dl dt img {
          width: 100%;
          display: block;
          margin: 10px; }
      .main .main_ff dl dd h4 {
        line-height: 20px; }
    .main .main_ff p {
      display: flex;
      width: 100%;
      height: 20px; }
      .main .main_ff p span {
        display: flex;
        margin: 0 10px; }
        .main .main_ff p span:nth-child(3) {
          flex: 5; }
        .main .main_ff p span img {
          display: block;
          padding: 0 5px;
          width: 15px;
          height: 15px; }
